<section class="faqs" id="faqs">
    <div class="container">
      <h2 class="section-title">Frequently Asked Questions</h2>
      <div class="faq">
        <div class="question" (click)="toggleFAQ($event)">
          <h3>What are the must-visit places in kolhapur?</h3>
          <span class="toggle-icon">+</span>
        </div>
        <div class="answer">
          <p>Kolhapur is known for its scenic beauty and historical landmarks. Don't miss spots like Panhala, Jotiba, and AmbaGhat.</p>
        </div>
      </div>
      <div class="faq">
        <div class="question" (click)="toggleFAQ($event)">
          <h3>When is the best time to visit Kolahpur?</h3>
          <span class="toggle-icon">+</span>
        </div>
        <div class="answer">
          <p>The best time to visit Kolahpur is during may-july for the most pleasant weather and cultural events.</p>
        </div>
      </div>
      <div class="faq">
        <div class="question" (click)="toggleFAQ($event)">
          <h3>What are the popular activities for tourists?</h3>
          <span class="toggle-icon">+</span>
        </div>
        <div class="answer">
          <p>You can enjoy activities like hiking, local culinary tours, historical sightseeing, and adventure sports.</p>
        </div>
      </div>
      <div class="faq">
        <div class="question" (click)="toggleFAQ($event)">
          <h3>Are there guided tours available?</h3>
          <span class="toggle-icon">+</span>
        </div>
        <div class="answer">
          <p>Yes, guided tours are available for most attractions. You can book them in advance online or at local tourist centers.</p>
        </div>
      </div>
    </div>
  </section>
  