
<header>
    
    <div class="content">
      <div class="title">
        <span class="sub-main">Explore</span>
        <br>
        <div class="main">Kolhapur</div>
      </div>
      <div class="info">
        <p>Kolhapur, located in Maharashtra, India, is renowned for its rich cultural heritage, historical significance, and vibrant arts. It is famous for its Mahalaxmi Temple, traditional Kolhapuri chappals, spicy cuisine, and wrestling culture (kushti). The city blends historical charm with a growing modern economy.</p>
      </div>
      <div class="detail-info">
        <ul>
        <li><a href = "#">Read More.....</a></li>
        <li><div class = "button"><a href="#">Start now</a></div><li>
        </ul>
      </div>
    </div>
  </header>
  <main>
    
  </main>