
<h1 class="page-title">Places to Explore</h1>
<br />
<div class="tourist-grid">
  <div class="grid-item Rautwadi">
    <div class="overlay">
      <h3>Rautwadi</h3>
      <span>&rarr;</span>
    </div>
  </div>
  <div class="grid-item Temple">
    <div class="overlay">
      <h3>Kopeshwar Temple</h3>
      <span>&rarr;</span>
    </div>
  </div>
  <div class="grid-item Panhala">
    <div class="overlay">
      <h3>Panhala Fort</h3>
      <span>&rarr;</span>
    </div>
  </div>
  <div class="grid-item Rankala">
    <div class="overlay">
      <h3>Rankala Lake</h3>
      <span>&rarr;</span>
    </div>
  </div>
</div>
